.div1{
    background-image: linear-gradient(rgb(0,115,174),rgb(0,183,249));
    padding: 50px;
    height: 500px;
}

.div2{
    background-image: linear-gradient(rgb(0,181,255), rgb(0,196,138));
}

.div3{
    background-image: linear-gradient(rgb(0,196,138), rgb(122,196,183));
}

.div0{
    background-image: linear-gradient(white, rgb(0,115,174));
}